*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: $font-p;
    font-size: $text-base;
    
    main{
        padding:10rem;
        }
        a,
        ul{
            list-style-type: none;
            text-decoration: none;
            font-family: $font-title;
            font-size: $text-base;
            color:$primary;
        }

        a:hover {
            text-decoration: none;
            color:$terciary;
        }
        
        img{
            width: 100%;
        }
        
        h1,
        h2,
        h3,
        h4{
            font-family: $font-title;
            color:$terciary;
        }   
        
.bi{
    color:$terciary;
    width: 24px; 
    height: 24px;
}
}

