*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: linear-gradient(#A066CB, #86C7ED);
    font-family: $font-p;
    font-size: $text-base;
    padding:10rem;
    
        a,
        ul{
            list-style-type: none;
            text-decoration: none;
            font-family: $font-title;
            font-size: $text-base;
            color:$primary
        }
        a:hover{
            color:$terciary;
        }
        img{
            width: 100%;
        }
        
        h1,
        h2 {
            font-family: $font-title;
            font-size:$text-large;
        }   
        
.bi{
    width: 24px; 
    height: 24px;
    padding: 0.2rem;
}

.content-box {
    margin:1rem;
}

}

