@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300&display=swap');

/* Colors */
$primary: #0D0D0D;
$secondary: #0511F2;
$terciary: #634482;
$alternative:#A066CB;
$shadow:#c5c5c5;

/*Font-family */
$font-p: 'Roboto', sans-serif;
$font-title: 'Montserrat', serif;
$font-link: 'Montserrat', serif;

/* Font-Sizes */
$text-large: 2.3rem;
$text-medium: 2.0rem;
$text-base: 1.4rem;
$text-small: 1.2rem;