@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Colors */
$primary: #0D0D0D;
$secondary: #173BA6;
$terciary: #9163BF;
$text-color: #0D0D0D;
$alternative:#0511F2;

/*Font-family */
$font-p: 'Roboto', sans-serif;
$font-title: 'Poppins', serif;

/* Font-Sizes */
$text-large: 2.3rem;
$text-medium: 2.0rem;
$text-base: 1.4rem;
$text-small: 1.2rem;